@charset "UTF-8";
*, *:after, *:before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
html, body, main {
  width: 100%;
  height: 100%;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}
h2, h3 {
  color: #000000;
}
.menu-label div {
  background-color: #000 !important;
}
.nav ul li a {
  color: #000 !important;
}
.nav ul li a:hover{
  color: #555 !important;
}
/*Hide scrollbar*/ ::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}
::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}
.tit_gallery, .tit_art_gallery {
  text-transform: capitalize;
  text-align: center;
  color: #000000;
  margin: 10% 0 5% 0;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}
#gallery {
  width: 100%;
  height: auto;
}
#gallery p,#art p{
  width: 90%;
  text-align: center;
  margin: auto;
}
#gallery-col {
  height: auto;
  padding-bottom: 10%;
}
.gallery-row {
  display: flex;
  align-items: flex-end;
  margin: auto;
}
.flex-col {
  display: flex;
  flex-direction: column;
}
#gallery img {
  filter: grayscale(90%) contrast(110%);
  transition: 0.3s ease;
  cursor: pointer;
  max-width: 500px;
}
#gallery img:hover {
  filter: none;
}
.hide-area {
  display: none;
}
/*全て共通：モーダルのボタンの色を変更したい場合*/

.modaal-close:focus:after, .modaal-close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
  background: #555555;
}
.modaal-close:after, .modaal-close:before {
  background: #ffffff;
  width: 2px !important;
  height: 16px !important;
}
.modaal-close:focus, .modaal-close:hover, .modaal-gallery-control:focus, .modaal-gallery-control:hover,.modaal-gallery-control {
  background: none !important;
}
.modaal-close:focus:after, .modaal-close:focus:before, .modaal-close:hover:after, .modaal-close:hover:before {
  background: #555555;
}
.modaal-gallery-control {
  color: #ffffff;
}
.modaal-gallery-control:after, .modaal-gallery-control:before {
  background: #ffffff;
  width: 2px !important;
  height: 16px !important;
}
.modaal-gallery-control:focus:after, .modaal-gallery-control:focus:before, .modaal-gallery-control:hover:after, .modaal-gallery-control:hover:before {
  background: #555555;
}
.modaal-gallery-item img {
  height: 100%;
}
.gallery-row {
  width: 90vw;
  column-gap: 2vw;
  text-align: center;
}
.gallery-list1 .flex-col {
  flex: 1;
}
.gallery-list1 a {
  flex: 1.13;
  margin-bottom: 10%;
}
.gallery-list2 a:nth-child(1), .gallery-list2 a:nth-child(2) {
  flex: 1.5;
  margin-bottom: 20%;
}
.gallery-list2 a:nth-child(3) {
  flex: 3;
}
.gallery-list3 a {
  flex: 1;
}
.gallery-list3 .flex-col {
  flex: 1;
  margin-top: 20%;
}
.gallery-list4 a:nth-child(1){
  flex: 2;
  margin-top: 10%;
}
.gallery-list4 a:nth-child(2) {
  flex: 1.245;
  margin-bottom: 10%;
}
.gallery-list6 a {
  flex: 1.4;
  margin-top: 30%;
}
.gallery-list6 .flex-col {
  flex: 1.1;
}
.gallery-list7 a {
  flex: 1.5;
  margin-top: 30%;
}
.gallery-list7 .flex-col {
  flex: 1;
}
.art_container {
  width: 90%;
  margin: auto;
  position: relative;
  z-index: 9;
}
.art {
  width: 100%;
  position: relative;
  display: grid;
  justify-content: center;
  align-items: center;
  grid-template-columns: 40% 40%;
  justify-items: center;
  gap: 5vw;
}
.art img {
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  filter: grayscale(100%) contrast(150%);
  cursor: pointer;
  max-width: 600px;
}
.art img:hover {
  transition: 0.3s ease-in;
  filter: none;
}
.back {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.back a {
  color: #000000;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-weight: 700;
  font-family: "Libre Caslon Display", serif;
  font-weight: 400;
  font-style: normal;
}
.back:hover a {
  color: #555555;
}
.flex-row {
  display: flex;
  justify-content: center;
  gap:25%;
  padding-bottom: 10%;
}
.page-description {
  font-weight: 500;
  width: 100%;
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

@media (max-width: 767px) {
  .modaal-close {
    top: 30px;
    right: 30px;
  }
	#gallery{
		margin: 80px auto;
	}
	.art_container{
		padding-top: 60px;
	}
	.art{
		margin-bottom: 30px;
	}
  .tit_gallery, .tit_art_gallery{
    margin: 30% 0;
  }
  #gallery p,#art p{
    margin-bottom: 20%;
  }
  .tit_gallery, .tit_art_gallery{
    margin: 40% 0 10% 0
  }
  .art{
    display: flex;
    flex-direction: column;
  }
  .art img {
    max-width: 300px;
  }
}
@media (min-width: 768px) and (max-width:1366px) {
  .modaal-close {
    top: 10%;
    right: 10%;
  }
	#gallery{
		margin: 80px auto 0 auto;
	}
	.art_container{
		padding-top: 80px;
	}
  .tit_gallery, .tit_art_gallery{
    margin: 20% 0 15% 0;
  }
  .art img {
    max-width: 300px;
  }
}
@media (min-width: 1367px) {
  .modaal-close {
    top: 10%;
    right: 20%;
  }
	#gallery{
		margin: 100px auto 0 auto;
	}
	.art_container{
		padding-top: 100px;
	}
	.art{
		margin: 100px auto;
	}
}